<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script src="http://get.umlcanvas.org/current.min.js"></script>
    <script>
      UmlCanvas.Config.HuC.repository_url = "http://localhost:8080/";
    </script>
  </head>
  <body>
    <h1>localhost</h1>
    <hr>
    
    {% block content %}{% endblock %}

    <br>
    <hr>
    <a href="{{ url }}">{{ url_linktext }}</a>
    | <a href="/">list diagrams</a>
    | <a href="/start">start a new diagram</a>

  </body>
</html>
