{% extends "Base.html" %}

{% block content %}
    <h1>{{ user|escape }}</h1>
    <h2>Own diagrams</h2>
    <table border="1">
    {% for diagram in ownedDiagrams %}
      <tr>
        <td><a href="/{{ diagram.key }}">{{ diagram.name }}</a></td>
        <td>{{diagram.created}}</td>
      </tr>
    {% endfor %}
    </table>

    <h2>Co-Authored diagrams</h2>
    <table border="1">
    {% for diagram in authoredDiagrams %}
      <tr>
        <td><a href="/{{ diagram.key }}">{{ diagram.name }}</a></td>
        <td>{{diagram.created}}</td>
      </tr>
    {% endfor %}
    </table>

{% endblock %}
