<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script src="http://get.umlcanvas.org/current.min.js"></script>
  </head>
  <body>
    
    <div class="message">
      Welcome on this new version of Hosted UmlCanvas. Things are still a bit
      rough around the edges and it will take some time before all features
      will be operation again.<br>
      The most important feature, serving your diagrams, is of course in place
      and if everything worked out as we planned, you shouldn't have noticed
      a single change.<br>
      Check back here for updates or follow us
      <a href="http://twitter.com/UmlCanvas">on Twitter</a> or on 
      <a href="http://blog.umlcanvas.org">our blog</a>.
    </div>
    
    {% block content %}{% endblock %}

<!--
    <br>
    <hr>
    <a href="{{ url }}">{{ url_linktext }}</a>
    | <a href="/">list diagrams</a>
    | <a href="/start">start a new diagram</a>
-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-393672-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
