<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script src="http://get.umlcanvas.org/current.min.js"></script>
  </head>
  <body>
    
    <div class="message">
      Welcome on this new version of Hosted UmlCanvas. Things are still a bit
      rough around the edges and it will take some time before all features
      will be operation again.<br>
      The most important feature, serving your diagrams, is of course in place
      and if everything worked out as we planned, you shouldn't have noticed
      a single change.<br>
      Check back here for updates or follow us
      <a href="http://twitter.com/UmlCanvas">on Twitter</a> or on 
      <a href="http://blog.umlcanvas.org">our blog</a>.
    </div>
    
    {% block content %}{% endblock %}

<!--
    <br>
    <hr>
    <a href="{{ url }}">{{ url_linktext }}</a>
    | <a href="/">list diagrams</a>
    | <a href="/start">start a new diagram</a>
-->

  </body>
</html>
