{% extends "Base.html" %}

{% block content %}
<h2>10 most recently updated diagrams</h2>
<ul>
{% for diagram in updated %}
  <li><a href="/{{ diagram.key.name }}">{{ diagram.name }}</a>
      by {% if diagram.owner %}
           <a href="/~{{ diagram.owner.key.name }}">{{diagram.owner.key.name}}</a>
         {% else %}
            An anonymous author
         {% endif %}
      on {{diagram.updated}}
    {% endfor %}
</ul>

<h2>10 most viewed diagrams</h2>
<ul>
{% for diagram in viewed %}
  <li><a href="/{{ diagram.key.name }}">{{ diagram.name }}</a>
      by {% if diagram.owner %}
           <a href="/~{{ diagram.owner.key.name }}">{{diagram.owner.key.name}}</a>
         {% else %}
            An anonymous author
         {% endif %}
      : {{diagram.viewCount}}
    {% endfor %}
</ul>

{% endblock %}
