<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <table border="1">
    {% for diagram in diagrams %}
      <tr>
        <th>diagram</th>
        <td><a href="/{{ diagram.key }}">{{ diagram.title }}</a></td>
      </tr>
      <tr>
        <th>author</th>
        <td>
          {% if diagram.author %}
            {{ diagram.author.nickname }}
          {% else %}
            An anonymous person wrote:
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>source</th>
        <td><blockquote>{{ diagram.source|escape }}</blockquote></td>
      </tr>
      <tr>
        <th>created</th>
        <td>{{diagram.created}}</td>
      </tr>
    {% endfor %}
    </table>

    <a href="{{ url }}">{{ url_linktext }}</a>
    | <a href="/load/diagrams">load diagrams</a>
    | <a href="/clear/diagrams">clear diagrams</a>

  </body>
</html>
